@import url('https://fonts.googleapis.com/css2?family=News+Cycle&family=Newsreader:opsz@6..72&family=Roboto+Mono&display=swap');

:root{
    --primary-color: #020617;
    --secondary-color: #f9fafb;
    --text-font: 'Newsreader', serif;
} 

body{
    font-family: var(--text-font);
    margin: 0;
}

nav{
    text-align: center;
    background-color: var(--primary-color);
    padding: 1rem;
    color: white;
}

nav h1{
    font-weight: bold;
    font-size: xx-large;
    font-style: italic;
}

main{
    background-color: var(--secondary-color);
    padding: 3rem;
    font-size: 1.3rem;
    text-align: center;
}

textarea{
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: var(--text-font);
    text-align: justify;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

button{
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-family: var(--text-font);
    color: white;
    background-color: var(--primary-color);
    border-radius:1rem;
}

#txt-Output{
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vb;
    overflow: scroll;
    border: 1px solid var(--primary-color);
    padding: 1rem;
    font-size: large;   
    text-align: justify; 
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    padding: 0.5rem;
}

footer p{
    max-width: 600px;
    margin: auto;
    padding: 1rem;
}

